
.btn{
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px 7px 10px;
  &:focus{
    outline: none;
  }

}

.btn-primary{
  background-color: $primary;
  border-radius: 5px;
  &:disabled{
    background-color: lighten($color: $primary, $amount: 15);
  }
  &:hover{
    background-color: darken($color: $primary, $amount:15);
  }
}

.btn-block{
  width: 100%;
}

.btn-block1{
  width: 8%;
}

.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up{
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.move-arrow-up1{
  position: absolute;
  left: 55%;
  top: 29%;
}

.move-arrow-down1{
  position: absolute;
  left: 71%;
  top: 29%;
}

.move-arrow-up2{
  position: absolute;
  left: 55%;
  top: 41%;
}
.move-arrow-down2{
  position: absolute;
  left: 71%;
  top: 41%;
}

.move-arrow-up3{
  position: absolute;
  left: 55%;
  top: 55%;
}

.move-arrow-down3{
  position: absolute;
  left: 55%;
  top: 71%;
}

.move-arrow-up4{
  position: absolute;
  left: 71%;
  top: 55%;
}

.move-arrow-down4{
  position: absolute;
  left: 71%;
  top: 71%;
}